/*ESTILOS GRALES */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}


main {
    background-color: #f5ecd0;
    padding: 20px 0;
}

.titulos {
    color: #b55bcc;
    text-align: center;
    font-size: 1.5em;
}

.subtitulo {
    color: #000;
    font-size: 1.2em;
    text-align: left;
}

.brand-logo {
    height: 90%;
    text-align: center;
}

.logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 5px;
}


/*Nav Mobile */
.sidenav li:nth-child(1) {
    padding-top: 50px;
}

ul.sidenav li .mobileLinks {
    font-size: 1.4em;
    margin-top: 20px;
    color: #000;
}

ul.sidenav li .mobileLinks:hover {
    color: #5B42F3;
    font-weight: bold;
}


/* MAIN */


.nav-wrapper {
    position: fixed;
    top: 0;
    z-index: 9999; /* Ajusta el valor de z-index para asegurar que esté en la capa superior */
 }
 .nav-wrapper > a {
 }
 

 /* COLORES */
.secccionInfoColores {
    background-color: #f5ecd0;
    padding: 10px;
}
.secccionInfoColores p {
}
 .contenedorImgPcpal {
    width: 100%;

 }
.contenedorImgPcpal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 50px auto;
}


.colores div {
    display: flex;
    width: 20vw;
    height: 70vh;
    margin: 30px 2px;
    justify-content: center;
    align-items: end;
    text-align: center;
    cursor: pointer;
}

.colores {
    display: flex;
    justify-content: center;
    flex-direction: row;
    opacity: 1;
    padding: 10px;
}

.fondo:nth-child(1) {
    background-color: aliceblue;
}

.fondo:nth-child(2) {
    background-color: antiquewhite;
}

.fondo:nth-child(3) {
    background-color: #f4f80a;
}

.fondo:nth-child(4) {
    background-color: #7fff00;
}

.contenedorNombreColor {
    width: 90%;
    justify-content: center;
    background-color: #fff;
    padding: 0;
}

.contenedorNombreColor p {
    color: black;
    object-fit: cover;
    margin: 0;
}

/* boton */
.contenedorBoton {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100vw;
    flex-wrap: wrap;
}

.buttonGenerar {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    background-image: linear-gradient(144deg, #b55bcc, #f34268 50%, #b55bcc);
    color: #FFFFFF;
    display: flex;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.buttonGenerar:active,
.buttonGenerar:hover {
    outline: 0;
}




.contenedorPaletaCompleta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

.contenedorBotonPaletaCompleta>h2 {
    margin: 20px auto;

}

.contenedorBotonPaletaCompleta {
    margin: 20px auto;
}

.buttonDescarga {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

/* Footer Styles */

.footer-copyright {
    text-transform: uppercase;
    font-weight: bold;
    color: #b55bcc;
}

.colorLink {
    /*Redes Footer */
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 1.1em;
    text-decoration: none;
}



/*   JS  */

.mainPagJs {
    background-color: #f5ecd0;
}

.contenedorMain {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.videoContainer {
    text-align: center;
    height: 50dvh;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.videoFHD iframe {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: 90%;
    border-radius: 5px;
    justify-content: center;
}

.videoContainer p {
    font-size: 1.2em;
    color: #000;
}
.animate__lightSpeedInLeft { /*titulo*/
    color: #b55bcc;
    text-align: center;
}

.mainPagJs h1:hover,
.mainPagJs h2:hover,
.mainPagJs h3:hover {
    color: #f34268;
}
@keyframes cambioColor {
    0% {color: #5B42F3;} 
    50% {color: #b55bcc;} 
   100% {color: #00DDEB;} 
}
.historialVersiones {
   margin: 20px ;
    color: #000;
}

.titulosAnimados {
    animation-name: cambioColor ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.titulo-versiones p {
    text-wrap: pretty;
}
.listaDeLinks li {
    text-transform: lowercase;
    color: #000;
}

.listaDeLinks a {
    font-size: 1.1em;
    text-decoration: none;
    color: #AF40FF;

}

.listaDeLinks li::before {
    content: "➡️ ";
}

.listaDeLinks li :hover {
    background-color: #f4f80a;
}




/*RECURSOS*/

/*PAGINAS RECOMENDADAS*/
.cajasInformativas {
    padding: 20px;
}

.cajaInformativaRecursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    color: #000;
}
.cajaInformativaRecursos a {
    font-size: 1.4em;
    margin: 10px auto;
}

.cajaImg {
    flex: 1;
    width: 90%;
    height: 90%;
    margin: 0;
}
.cajaImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cajaInformativaParrafo {
    flex: 1;
    padding: 20px;
}
.cajaInformativaParrafo >p{
    margin: 10px auto;
}
.cajaInformativaParrafo >p::before {
    content: "  ➡️  ";
}

.cajaInformativaParrafo >a{
    color: #5B42F3;
    text-align: center;
}


/*VIDEOS DE YOUTUBE*/
.contenedorSeccionVideos {
    height: auto; 
    padding: 10px;
}

.videoCanales {
    max-width: 500px; 
    margin: 20px auto; 
    width: 40%;
}

.videoYtSeccion {
    width: 100%; 
    height: 380px;
}

.videoCanales p {
    margin: 20px auto;
    color: #000;
    font-size: 1.2em;
}


/*MOBILE*/

@media (300px <=width <=1024px) {
    .buttonGenerar {
        font-size: 2em;
        height: auto;
        min-width: 196px;
        width: 80vw;
    }

    .contenedorNombreColor {
        width: 90%;
        margin: 0;
    }

    .colores div {
        height: 60vh;
        width: 25%;
        margin: 2px;
    }

    .colores {
        padding: 0;
    }

    .contenedorMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.contenedorImagenes {
    width: 90vw;
}
.videoFHD{
    height: 100%;
}
.listaDeLinks > li{
    padding: 10px;
}
.cajaInformativaRecursos{
    display: block;
    }
}

