/*ESTILOS GRALES */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


main {
    background-color: #000;
    padding: 20px 0;
}

.titulos {
    color: #5fb816;
    text-align: center;
    font-size: 1,5em;
  }

.subtitulo {
    color: #fff;
    font-size: 1.3em;
    text-align: center;
}

.brand-logo {
    height: 90%;
    text-align: center;
}
.logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/*Nav Mobile */
.sidenav li:nth-child(1){
    padding-top: 50px;
}
ul.sidenav li .mobileLinks {
    font-size: 1.8em;
    margin-top: 20px;
    color: #fff;
}

ul.sidenav li .mobileLinks:hover {
    color: #5B42F3;
    font-weight: bold;
}


/* MAIN */




.colores div {
    display: flex;
    width: 25vw;
    height: 40vh;
    margin: 0 2px;
    justify-content: center;
    align-items: end;
    text-align: center;
    cursor: pointer;
}
.colores {
    display: flex;
    justify-content: center;
    flex-direction: row;
    opacity: 1;
}
.fondo:nth-child(1) {
    background-color: #00FFFF;
}

.fondo:nth-child(2) {
    background-color: #006400;
}

.fondo:nth-child(3) {
    background-color: #FFFACD;
}

.fondo:nth-child(4) {
    background-color: #D2B48C;
}

.contenedorNombreColor {
    width: 90%;
    justify-content: center;
    background-color: #fff;
    padding: 0;
}

.contenedorNombreColor p {
    color: black;
    object-fit: cover;
    margin: 0;
}

/* boton */
.contenedorBoton {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100vw;
    flex-wrap: wrap;
}

.buttonGenerar {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    background-image: linear-gradient(144deg, #b55bcc, #f34268 50%, #eb0091);
    color: #FFFFFF;
    display: flex;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 2px;
    text-decoration: none;
    cursor: pointer;
}

.buttonGenerar:active,
.buttonGenerar:hover {
    outline: 0;
}

@media (300px <=width <=1024px) {
    .buttonGenerar {
        font-size: 2em;
        height: auto;
        min-width: 196px;
        width: 80vw;
    }
    .contenedorNombreColor{
        width: 90%;
        margin: 0;
    }
.colores div {
    height: 60vh;
    width: 25%;
    margin: 2px;
}
.colores {
    padding: 0;
}
}


.contenedorPaletaCompleta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.contenedorBotonPaletaCompleta {
    margin: 5px auto;
}

.buttonDescarga {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

/* Footer Styles */

.footer-copyright {
    text-transform: uppercase;
    font-weight: bold;
    color: #eb0091;
}
.colorLink { /*Redes Footer */
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    font-size: 1.2em;
}



/* Pagina js*/



.mainPagJs {
    padding: 50px;
    background-color: #000000;
}


.mainPagJs h1:hover , .mainPagJs h2:hover  , .mainPagJs h3:hover {
    color: #f4f80a;
}


.videoContainer {
    text-align: center;
}
.videoFHD {
    height: 40vh;
    display: flex; 
    justify-content: center; 
    border-top: 2px solid #f4f80a;
    border-bottom: 2px solid #f4f80a;
    padding: 30px 0;
    }

.videoYT {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
    width: 800px;

}

.videoContainer p {
    margin-top: 10px; 
    font-size: .9em;
    color: #fff;
}


.historialVersiones {
    margin: 50px;
    color: #fff;
}
.titulo-versiones {
    color: #5fb816;
    font-size: 1.3em;
}

.listaDeLinks li {
    text-transform: lowercase;
    color: #fff;
}

.listaDeLinks a {
    font-weight: bold;
    font-size: 1.1em;
}

.listaDeLinks li::before {
    content: "➡️ ";
}

.listaDeLinks li :hover {
    color: #006400;
    background-color: #f4f80a;
}






/*RECURSOS*/

.cajaInfU { 
    text-align: center;

}

.cajaInfU a { 
    color: #eb0091;
    font-weight: bold;
    font-size: 1.2em;
}

.cajaInfU p {
    color: #FFF;
}
.cajaImg {
    height: 50%;
    width: 70%;
    padding: 10px;
    margin: 20px auto;
    background-color: #fff;
    border: 3px solid #00FFFF;
}
.cajaImg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    text-align: center;
}
.cajaVideosYt p {
    color: #fff;
}