/*ESTILOS GRALES */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    opacity: 0.9;
}

main {
    background-color: #000000;
    padding: 20px;
    margin-top: 50px;
}

p {
    color: #fff;
    font-size: 1.2em;
}
body h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    color: #ff0998;
}
body h2, body h3, body h4 {
    color: #e7fa3d;
    font-size: 1.3em;
    font-weight: bold;
}
.logo-img {
    object-fit: contain;
    margin: 5px auto;
}

.brand-logo {
    width: 10%;
    text-align: center;
    overflow: hidden;
}
.colores {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    background-color: black;
    opacity: 1;
}

ul.sidenav li .mobileLinks {
    font-size: 1.2em;
    margin-top: 30px;
    color: #fff;
}

.colores div {
    display: flex;
    width: 25vw;
    margin: 0 2px;
    height: 50vh;
    justify-content: center;
    align-items: end;
}

.fondo {
    text-align: center;
    cursor: pointer;
}


.fondo:nth-child(1) {
    background-color: #00FFFF;
    padding: 5px;
}

.fondo:nth-child(2) {
    background-color: #006400;
    padding: 5px;
}

.fondo:nth-child(3) {
    background-color: #FFFACD;
    padding: 5px;
}

.fondo:nth-child(4) {
    background-color: #D2B48C;
    padding: 5px;
}

.contenedorNombreColor {
    display: flex;
    width: 70%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorNombreColor p {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}

/* boton */
.contenedorBoton {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100vw;
}

.buttonGenerar {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    background-image: linear-gradient(144deg, #b55bcc, #f34268 50%, #eb0091);
    color: #FFFFFF;
    display: flex;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 2px;
    text-decoration: none;
    cursor: pointer;
}

.buttonGenerar:active,
.buttonGenerar:hover {
    outline: 0;
}

@media (300px <=width <=1024px) {
    .buttonGenerar {
        font-size: 2em;
        height: auto;
        min-width: 196px;
        width: 80vw;
    }
}


.contenedorPaletaCompleta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.contenedorBotonPaletaCompleta {
    margin: 5px auto;
}

.buttonDescarga {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

/* Footer Styles */

.footer-copyright {
    text-transform: uppercase;
    font-weight: bold;
}
.grey-text { /*Redes Footer */
    text-transform: uppercase;
    font-weight: bold;
}



/* Pagina js*/



.mainPagJs {
    padding: 50px;
    background-color: #000000;
}

.mainPagJs h1 {
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    color: #fff;
}
.mainPagJs h1:hover , .mainPagJs h2:hover  , .mainPagJs h3:hover {
    color: #f4f80a;
}

.mainPagJs h2 , .mainPagJs h3{
    font-size: 1.3em;
    font-weight: bold;
}


.videoContainer {
    text-align: center;
}
.videoFHD {
    height: 40vh;
    display: flex; 
    justify-content: center; 
    border-top: 2px solid #f4f80a;
    border-bottom: 2px solid #f4f80a;
    padding: 30px 0;
    }

.videoYT {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
    width: 800px;

}

.videoContainer p {
    margin-top: 10px; 
    font-size: .9em;
}


.historialVersiones {
    margin: 50px;
}

.listaDeLinks li {
    text-transform: lowercase;
    color: #fff;
}

.listaDeLinks a {
    font-weight: bold;
    font-size: 1.1em;
}

.listaDeLinks li::before {
    content: "➡️ ";
}

.listaDeLinks li :hover {
    color: #006400;
    background-color: #f4f80a;
}


